<nav>
    <a href="/">
        Home
    </a>
    <a href="/#features">
        Features
    </a>
    <a href="/#markdig">
        Markdig.UWP
    </a>
    <a href="https://github.com/nerocui/jithubv2">
        Source Code
    </a>
    <a href="https://nerocui.com">
        Blog
    </a>
</nav>

@code {

}
