<nav>
    <div class="flex nav-wrapper">
        <div class="flex">
            <img class="flex-item" src="JitHubLogo.png" width="48"/>
            <h1 class="flex-item">JitHub</h1>
        </div>
        <div class="flex-item">
            <div class="link-container">
            <a href="https://nerocui.com">
                Blog
            </a>
            </div>
        </div>
    </div>
</nav>

@code {

}
