@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: aliceblue;
}

h1 {
    font-weight: 400;
}

h2, h3, h4, h5, h6, p {
    margin: 0;
}

@media only screen and (max-width: 1600px) {
    #app {
        width: 100% !important;
    }
}

#app {
    width: 1600px;
}
.app {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    padding: 8px;
}

.nav-wrapper {
    width: 100%;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-item {
    align-self: center;
}

.link-container a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-left: 12px;
    color: black;
    font-weight: 400;
    font-size: 28px;
    display: inline-block;
    transition: 300ms;
    box-sizing: border-box;
    border: 1px solid #d2d2d2;
    padding: 0 8px;
    border-radius: 4px;
    background: #dadada;
}

    .link-container a:hover {
        color: #212121;
        border: 1px solid #ababab;
    }

    .link-container a:active {
        color: #292929;
        transform: translateY(4px);
    }

section {
    margin-bottom: 12px;
    border-radius: 8px;
}

    section#hero {
        text-align: center;
        background: rgb(185,152,207);
        background: linear-gradient(155deg, rgb(238, 228, 243) 10%, rgb(117, 49, 150) 100%);
        padding: 32px;
    }

h2.hero-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    color: white;
}

    h2.hero-title::after {
        content: url('../winui.png');
    }

section#hero svg {
    width: 600px
}

#ms-store-btn {
    width: 135px;
    transform: translateY(2px);
}

#source-code-btn {
    padding: 8px 12px;
    background-color: #000000;
    display: inline-block;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-right: 24px;
}

    #source-code-btn img {
        margin-right: 4px;
    }

@media only screen and (max-width: 600px) {
    section#hero svg {
        width: 100%;
    }
}

section#features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

section img {
    border-radius: 8px;
}

.devider {
    width: 100%;
    border-width: 1px 0 0 0;
    border-color: #393939;
    border-style: solid;
}

.feature {
    margin: 32px 0;
}

    .feature p {
        font-size: 24px;
    }


.feature-block {
    display: flex;
    justify-content: space-between;
}

    .feature-block h3 {
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 12px;
        font-weight: 700;
        font-size: 32px;
    }

    .feature-block .description {
        width: 25%;
    }

.feature-block-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
    .feature-block-reverse h3 {
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 12px;
        font-weight: 700;
        font-size: 32px;
    }

    .feature-block-reverse .description {
        width: 25%;
    }

@media only screen and (max-width: 1400px) {
    .feature img {
        width: 85% !important;
    }

    .feature-block {
        flex-direction: column;
    }

    .feature-block-reverse {
        flex-direction: column;
    }
    .feature-block .description {
        width: auto;
        align-self: center;
        margin-bottom: 12px;
    }
    .feature-block-reverse .description {
        width: auto;
        align-self: center;
        margin-bottom: 12px;
    }
}

.feature img {
    width: 70%;
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
}

.center {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.screenshot {
    transition: 300ms;
}

    .screenshot:hover {
        transform: translateY(-4px);
    }

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }
