@page "/auth"

<h3>Auth</h3>

@code {

    [Parameter]
    [SupplyParameterFromQuery]
    public string Code { get; set; }

    protected override async void OnNavigateAsync(NavigationContext args)
    {
        if (string.IsNullOrWhiteSpace(Code))
        {
            return;
        }
        else
        {
            
        }
    }
}
