@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Function call</PageTitle>
<h1>Function call</h1>


<button @onclick="GetFunctionData">click</button>
<p>Response: @responseString</p>



@code {
    private string responseString;


    private async void GetFunctionData()
    {
        var res = await Http.GetAsync("/api/Function1?name=nero");
        var body = await res.Content.ReadAsStringAsync();
        responseString = body;
        this.StateHasChanged();
    }

}