@page "/fetchdata"
@inject HttpClient Http
@using Microsoft.Fast.Components.FluentUI

<PageTitle>Function call</PageTitle>
<h1>Function call</h1>


<FluentButton Appearance="Appearance.Accent" @onclick="GetFunctionData">click</FluentButton>
<p>Response: @responseString</p>



@code {
    private string responseString;


    private async void GetFunctionData()
    {
        var res = await Http.GetAsync("/api/Function1?name=nero");
        var body = await res.Content.ReadAsStringAsync();
        responseString = body;
        this.StateHasChanged();
    }

}
