<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#eef1e7" />
    <base href="/" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="preload" href="fonts/instrument-serif-regular.ttf" as="font" type="font/ttf" crossorigin />
    <link rel="preload" href="fonts/cormorant-garamond-latin.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="fonts/ibm-plex-sans-latin.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="fonts/ibm-plex-mono-regular-latin.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="JitHub.Web.styles.css" />
    <HeadOutlet />
</head>
<body>
    <Routes />
</body>
</html>
